* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;

}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.active {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
}

body {
    background-color: white;
    transition: background-color .3s, color .3s;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #ececec;
position: sticky;
top:0;
}


.logo {
    /*   max-width: 5rem;  */
    font-size: 1.5rem;
    margin-bottom: .2rem;
    color: rosybrown;
  
}



.redes {
    margin-left: 1rem;
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
    gap: .5rem;
    margin-bottom: 0;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-bottom: 0;
    font-size: 1.1rem;
}

.nav-list li a {
    text-decoration: none;
    color:/*  #1c1c1c; */rgb(181, 123, 123)
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .logo {
        font-size: 1rem;
        
    }

    .abrir-menu {
        color: /* #1c1c1c;
    } */rosybrown;
    }
    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color:  #1c1c1c; 
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec; 
    }
    /* seccion bio */
    .bio{
        margin-top: 1rem;
        width: 90vw;
    }
    .bio-titulo{
        color:rosybrown;
        font-size: 2.5rem;
        display: flex;
        justify-content: start;
        margin-left: 1rem ;
        font-weight: 400;
    }
    .bio-parrafo{
        display: flex;
        text-align: start;
        padding: 1rem;
        justify-content: start;
    }
}


@media screen and (min-width: 1200px){
    .bio{
        margin: 1rem;
        width: 90vw;
    }
    .bio-titulo{
        font-size: 5rem;
        font-weight: 300;
        color: rosybrown;
    }
    .bio-parrafo{
        display: flex;
        text-align: start;
        padding: .5rem;
        justify-content:center ;
    }
}