* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif, "Noto Sans JP", sans-serif;
}

a {
    color: #ececec;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.active {
    text-decoration: underline;


}

.container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
    overflow-x: hidden;
}

body {
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;

}

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:
        /* space-between; */
        end;
    padding: 1rem;
    padding-top: 1.5rem;
    background-color: transparent;
    position:
        /*   sticky;   */
        fixed;
    top: 0;
    /* border-bottom: 1px solid rosybrown; */
    z-index: 1000;
    /*  backdrop-filter: blur(10px); */
    width: 100%;

}

.img-container {
    max-width: 100%;
}

section {
    scroll-margin-top: 1rem;
}

html {
    scroll-behavior: smooth;
}



/* NAV MOBILE */

.logo {
    width: 65vw;
    margin-bottom: 0;
    padding-top: .3rem;
    color: rosybrown;
    margin-left: 1rem;

}


.portada {
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
}

.portada-img {
    position: absolute;
    height: 100vh;
    object-fit: cover;
    bottom: 0;

}

.portada-titulo {
    position: absolute;
    bottom: 8%;
    z-index: 1000;
    right: 7%;
}

.btn-eng {
    margin-top: 1.7rem;

}

.bi-translate {
    font-size: 1.4rem;
}

.redes {
    font-size: 1.4rem;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1.1rem;
    margin-top: 2.2rem;

}

.nav-link {
    color: white;
    transition: color .2s, 1s ease;

}

.nav-link:hover {
    color: rosybrown;

    font-style: italic;
    transform: scale(1.1);
}


.s:hover {
    color: darkgreen;
}

.y:hover {
    color: red;
}

.ig:hover {
    color: purple
}

.f:hover {
    color: blue;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3.5rem;
    /*  margin-top: .3rem; */
    margin-bottom: 0;
    font-size: 1.4rem;
    font-family: "Noto Sans JP", sans-serif;
}



.nav-list li a:hover {
    color: rosybrown;
    transition: color .3s;
    font-style: italic;
}

.abrir-menu,
.cerrar-menu {
    display: block;
    border: 0;
    font-size:
        /* 1.25rem; */
        2rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-self: end;
    /* color: #ececec; */
    margin-bottom: 1.2rem;

}

.abrir-menu {
    color: #cfa6a6;
}

.cerrar-menu {
    color: #ececec;
}


.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    max-height: 0;
    align-items: end;
    gap: 1rem;
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 2rem;
    padding-right: 1rem;
    transition: opacity 1s ease-in-out, max-height 1s ease-in-out, visibility 0s 1s;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
    max-height: 100vh;
    transition: opacity 1s ease-in-out, max-height 1s ease-in-out;
}

.contact {
    margin-right: 0;
}

.fade-in {
    opacity: 0;
    /*    transform: translateY(20px); */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
    opacity: 1;
    /*   transform: translateY(0); */
}


.fade-in1 {
    opacity: 0;
    transform: translateX(-100px);
    transition: transform 1s ease-out;
}

.fade-in1.show {
    opacity: 1;
    transform: translateX(0);
}

.fade-in2 {
    opacity: 0;
    transform: translateX(100px);
    transition: transform 1s ease-out;
}

.fade-in2.show {
    opacity: 1;
    transform: translateX(0);
}

/* seccion bio */
.bio,
.discografia,
.videos,
.prensa,
.docencia {
    margin-top: 1rem;
    width: 90vw;
    border-top: 2px solid rosybrown;
    padding-top: 1rem;
}

.clasesycursos {
    width: 100%;
    /*   margin-top: 2rem;  */
    margin-bottom: 2rem;
    /*   padding: .5rem;
    padding-top: 0; */
}

.docencia {
    margin-top: 0;
}

.videos {
    border: 0;
}

.bio-titulo,
.discografia-titulo,
.videos-titulo,
.prensa-titulo,
.clases-cursos {
    color: rgb(54, 26, 54);
    font-size: 2.5rem;
    display: flex;
    justify-content: start;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
}

.clases-cursos {
    text-wrap: nowrap;
    padding-left: .4rem;
}

.bio-parrafo,
.clases-parrafo,
.audio-parrafo,
.clases-parrafo1 {
    display: flex;
    text-align: justify;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    padding-inline: .3rem;
    font-family: "Noto Sans JP", sans-serif;
    padding-bottom: 0;
    padding-top: 0;
}

.clases-parrafo1 {
    margin-bottom: 1rem;

}
.wrapp-intro{

    padding: .5rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
   
}  

.intro-span{
    color: rgb(54, 26, 54);
    padding-right: .3rem;
}
/* .bi-check-all{
    padding-right: .3rem;
} */
.introduccion {
    color: black;
    text-align: start;
    padding: .5rem;
    align-items: center;
    padding-inline: .3rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.bio-parrafo1 {
    display: flex;
    text-align: justify;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    padding-inline: .3rem;
    font-family: "Noto Sans JP", sans-serif;
    /*    border-bottom: 1px solid rgb(54, 26, 54); */
    padding-top: 0;

}

.bio-foto {
    border-radius: 10px;
}

/* SECCION DISCOGRAFIA */
.discos-grilla {
    margin-top: 1rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

.discos-grilla img {
    border-radius: 10px;
}

.hoy-titulo h4,
.otra-titulo h4,
.escuadron-titulo h4,
.diarios h4,
.radios h4,
.cuchi-titulo h4,
.delfi-titulo h4 {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: rgb(54, 26, 54);
    font-weight: 300;
    font-family: "Josefin sans", sans-serif;
}

.canto-contenido,
.audio-contenido,
.canto-tango {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: rgb(54, 26, 54);
    font-weight: 300;
    font-family: "Josefin sans", sans-serif;
}

.diarios h4 {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: rgb(54, 26, 54);
    font-weight: 400;
}

.radios h4 {
    margin-top: 2rem;
    font-weight: 400;
}

.hoy-parrafo,
.otra-parrafo,
.escuadron-parrafo,
.cuchi-parrafo,
.delfi-parrafo,
.link-nota {
    display: flex;
    text-align: justify;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    font-family: "Noto Sans JP", sans-serif;
    padding-right: .5rem;
}

.hoy-parrafo {
    margin-bottom: .5rem;
}

.escuadron-span,
.cuchi-span,
.otra-span,
.delfi-span {
    display: flex;
    text-align: justify;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-family: "Noto Sans JP", sans-serif;
    color: rgb(54, 26, 54);
}

.participaciones-titulo,
.clases-canto,
.clases-audio,
.clases-canto1,
.testimonios {
    color:
        /* rgb(54, 26, 54) */
        whitesmoke;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: .5rem;
    padding-top: .5rem;
    font-family: "Josefin sans", sans-serif;
    margin-left: .5rem;
}

.clases-audio {
    color: whitesmoke;
    font-weight: 400;
}

.audio-contenido {
    color: whitesmoke;
}

.participaciones-titulo,
.testimonios {
    color: rgb(54, 26, 54);
    font-weight: 400;
}

.clases-canto1 {
    color:
        /*  wheat */
        rgb(54, 26, 54);
    font-weight: 400;
}

.testimonios {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clases-canto {
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: .5rem;
    padding-top: .5rem;
    font-family: "Josefin sans", sans-serif;
    margin-left: .5rem;
}

.clases-cursos {
    margin-top: 2rem;

}



.clases-audio1 {
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    padding-right: 1rem;
    font-family: "Josefin sans", sans-serif;
    margin-left: .5rem;
    text-wrap:balance;
}

.link-nota {
    color: rgb(54, 26, 54);
    margin-left: .2rem;
}

.link-nota:hover {
    text-decoration: underline;

}

/* slider */

.slider-container {
    position: relative;
    width: 100%;

    margin: auto;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: 0;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;

}

.prev {
    left: 12px;
}

.next {
    right: 12px;
}


.slider-container:hover .prev,
.slider-container:hover .next {
    opacity: 1;
}

/* SECCION VIDEOS */
.videos {
    display: grid;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.grilla-videos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*    background-color: rosybrown; */
    padding: 1rem;
}

.videos-wrapp {
    background-color: rgba(240, 233, 233, 0.932);
    padding-bottom: 1rem;
}

.videos-titulo {
    padding-top: 1rem;
    margin-left: 2vw;


}

.grilla-videos iframe {
    max-width: 100%;

}

.videos-sub {
    margin-top: .3rem;
    margin-bottom: .2rem;

}

.videos-btn,
.prensa-btn {
    padding: .5rem;
    background-color: transparent;
    border: 1px solid rgb(54, 26, 54);
    border-radius: .5rem;
    color: rgb(54, 26, 54);
    margin-left: .5rem;
    font-size: 20px;
    margin-top: .5rem;
    transition: color .3s, background-color .3s, transform .3s;
    cursor: pointer
}

.prensa-btn {
    margin-left: .2rem;
}

.videos-btn:hover,
.prensa-btn:hover {
    color: #ececec;
    background-color: rgb(54, 26, 54);
    border: 1px solid rgb(54, 26, 54);
    transform: scale(1.1);

}

.btn-clases {
    padding: .5rem;
    background-color: transparent;
    border: 1px solid rgb(54, 26, 54);
    border-radius: .5rem;
    color: rgb(54, 26, 54);
    margin-left: .5rem;
    font-size: 20px;
    margin-top: .5rem;
    transition: color .3s, background-color .3s, transform .3s;
    cursor: pointer
}

.btn-clases:hover {
    color: rgba(240, 233, 233, 0.932);
    background-color: rgb(54, 26, 54);
    transform: scale(1.1);


}

/* SECCION PRENSA */
.diarios,
.radios {
    border-bottom: 1px solid rosybrown;
    /* font-weight:lighter; */
}

.nota {
    margin-bottom: 1rem;
}

.grilla-prensa img {
    border: 1px solid rgb(54, 26, 54);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(183, 162, 183);
}

.prensa-sub {
    color: rgb(54, 26, 54);
    margin-top: 1.5rem;
    margin-bottom: .3rem;
    font-size: 1.3rem;
}

/* SECTION CONTACTO */
.contacto {
    margin-top: 1.2rem;
    width: 100%;
    position: relative;

}

.img-wrapper {
    height: auto;
    overflow: hidden;
    background-color: rgb(54, 26, 54);
}

.contacto-titulo {
    position: absolute;
    top: 47%;
    /*   top:2vw; */
    right: 2%;
    z-index: 999;
    letter-spacing: .2rem;
    color: rgb(54, 26, 54);
    font-size: 10vw;
    display: flex;
    justify-content: start;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;

}

.contacto-parrafo {
    position: absolute;
    bottom: 6%;
    z-index: 999;
    right: 2%;
}

.resalta {
    color: rgb(54, 26, 54);
    font-weight: 600;


}


.redes2 {
    position: absolute;
    z-index: 999;
    top: 65%;
    right: 10%;
    color: rgb(54, 26, 54);
    font-size: 4.8vw;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1rem;
    /* margin-bottom: .3rem; */
    /* margin-right: 1rem; */
    margin-top: .5rem;

}

.nav-link1 {
    color: rgb(54, 26, 54);
    transition: color .2s, 1s ease;
}

.nav-link1:hover {
    transform: scale(1.1);
}

.s:hover {
    color: darkgreen;
}

.y:hover {
    color: red;
}

.ig:hover {
    color: purple
}

.f:hover {
    color: blue;
}

.w:hover {
    color: green;
}

.m:hover {
    color: #ececec;
}



/* FOOTER MOBILE */
.footer {
    background-color: rgb(54, 26, 54);
    color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    padding-bottom: 1.5rem;
    position: relative;
}


.logo-footer {
    width: 10rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.footer-parrafo {
    display: flex;
    align-items: center;
    justify-content: center;
}



.encabezado {
    margin-bottom: 1rem;
}


.copi {
    font-size: .8rem;
    margin-left: 1.2rem;
    margin-top: .5rem;
}

.btn-footer {
    position: fixed;
    right: 5%;
    font-size: 2rem;
    cursor: pointer;
    bottom: 0;

}

@media screen and (min-width: 1200px) {

    section {
        scroll-margin-top: 1rem;
    }

    header {
        padding-right: 2.5rem;
    }

    [data-tooltip] {
        position: relative;
    }

    [data-tooltip]::after {
        content: attr(data-tooltip);
        background-color: #33404f;
        color: var(--clr-text);
        font-size: .8rem;
        padding: .3rem .7rem;
        border: 1px solid var(--clr-gray);
        border-radius: .3rem;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%) translateY(2rem);
        opacity: 0;
        visibility: hidden;
        transition: .1s;
        width: max-content;
        margin-top: .3rem;
    }

    [data-tooltip][data-tooltip-bottom]::after {
        transform: translateX(-50%) translateY(-2rem);
        bottom: unset;
        top: 100%;
    }

    @media (hover: hover) {
        [data-tooltip]:hover::after {
            transform: translateX(-90%);
            opacity: 1;
            visibility: visible;
        }
    }

    [data-tooltip][data-tooltip-left]::after {
        bottom: unset;
        left: unset;
        transform: translateX(-2rem);
        right: 100%;
    }

    @media (hover: hover) {
        [data-tooltip][data-tooltip-left]:hover::after {
            bottom: unset;
            left: unset;
            transform: translateX(0);
            right: 100%;
        }
    }

    .portada-titulo {
        bottom: 2%;
        right: 3%;
    }

    .portada-img {
        position: absolute;
        width: 100%;
        object-position: center;
    }

    .portada {
        height: 100vh;
    }

    .logo {
        width: 320px;
        margin-left: 1rem;
        padding-top: .3rem;
    }

    .nav-link {
        color: #ececec;
        font-size: 1.3rem;
    }

    .redes {
        font-size: 1rem;
        display: flex;
        justify-content: end;
        align-items: end;
        gap: 1.1rem;
        margin-bottom: 1rem;
        margin-top: 1.3rem;
    }

    .btn-eng {
        margin-top: .3rem;
    }

    .bi-translate {
        font-size: 1.3rem;
        margin-right: 0;
    }

    .nav {
        padding-right: 2.5rem;
    }

    .nav-list {
        gap: 2.3rem;
    }


    /* SECCION BIO */

    .bio,
    .discografia,
    .videos {
        width: 90vw;
        border-top: 2px solid rosybrown;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 1rem;
    }

    .clasesycursos {
        border-top: 2px solid rosybrown;
        margin-top: 2rem;
    }

    .bio-encabezado {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        justify-content: center;
        align-content: start;

    }

    .bio-titulo,
    .discografia-titulo,
    .videos-titulo,
    .prensa-titulo,
    .clases-cursos {
        font-size: 5rem;
        font-weight: 300;
        color: rgb(54, 26, 54);
        margin-bottom: 1rem;
        display: flex;
        justify-self: start;
        align-self: start;
        font-family: "Josefin Sans", sans-serif;
    }

    .bio-foto {
        border-radius: 10px;
    }

    .bio-parrafo {
        display: flex;
        text-align: justify;
        padding: .5rem;
        padding-top: 0;
        justify-content: center;
        padding-left: 1rem;
        padding-inline: .3rem;
        font-family: "Noto Sans JP", sans-serif;
        padding-bottom: 0;
    }

    .bio-parrafo1 {
        display: flex;
        text-align: justify;
        padding: .5rem;
        padding-top: 0;
        justify-content: center;
        padding-left: 1rem;
        padding-inline: .3rem;
        font-family: "Noto Sans JP", sans-serif;
        /*    border-bottom: 1px solid rgb(54, 26, 54); */
    }



    .slider-container {
        width: 350px;
        padding-top: .5rem;
    }

    /* DISCOGRAFIA */
    .hoy,
    .otra,
    .escuadron,
    .cuchi,
    .delfi {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        margin-bottom: 3rem;
        background-color: rgba(240, 233, 233, 0.932);
        padding: .7rem;
        border-radius: 10px;
    }

    .hoy {
        margin-bottom: 5rem;
        margin-top: 1rem;
    }

    .hoy-titulo h4,
    .otra-titulo h4,
    .escuadron-titulo h4,
    .cuchi-titulo h4,
    .delfi-titulo h4 {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .canto-contenido h3,
    .canto-tango h3,
    .audio-contenido h3 {
        margin-top: 0;
        font-size: 2.5rem;
    }

    .participaciones-titulo {
        display: flex;
        font-size: 3rem;
        justify-self: start;
        align-self: start;
    }

    .hoy-parrafo,
    .otra-parrafo,
    .escuadron-parrafo,
    .cuchi-parrafo,
    .delfi-parrafo {
        font-size: .9rem;
        padding-inline: .3rem;
        padding-right: .5rem;
    }

    .otra-parrafo {
        margin-bottom: .5rem;
    }

    .escuadron-titulo {
        text-wrap: balance;
    }

    .escuadron img,
    .escuadron iframe {
        display: grid;
        align-self: center;
        margin-bottom: 1rem;
    }

    /* SECCION VIDEOS */
    .videos {
        display: grid;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .videos-wrapp {
        padding-bottom: .5rem;
    }

    .grilla-videos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 2rem;
        padding-bottom: .5rem;
        margin-bottom: .5rem;
    }

     .grilla-clases1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
       
    } 

    .videos-btn {
        display: grid;
        justify-self: start;
        margin-left: 2.2vw;
    }

    .videos-wrapp {
        background-color: rgba(240, 233, 233, 0.932);
    }

    .videos-titulo {
        padding-top: 1rem;

    }

    .videos-sub {
        color: rgb(54, 26, 54);
    }

    /* SECCION PRENSA */

    .diarios h4,
    .radios h4 {
        color: rgb(54, 26, 54);
        font-weight: 400;
        font-family: "Josefin sans", sans-serif;
        font-size: 3rem;
        justify-content: start;
        align-self: start;

    }

    .prensa {
        width: 90vw;
        border-top: 2px solid rosybrown;
        display: grid;
        padding-top: 1rem;
    }

    .grilla-prensa {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
    }

    .prensa-sub {
        font-size: 1.5rem;
    }

    /* SECCION CONTACTO */
    .img-wrapper {
        width: 100%;
        height: 600px;
        overflow: hidden;
    }

    .img-wrapper img {
        max-width: 100%;
    }

    .contacto-titulo {
        font-size: 5rem;
        font-weight: 300;
        color: rgb(54, 26, 54);
        margin-bottom: 1rem;
        font-family: "Josefin Sans", sans-serif;
        letter-spacing: .3rem;
        top: 54%;
        position: absolute;
    }

    .redes2 {
        font-size: 1.5rem;
        gap: 1.6rem;
        top: 71%;
        right: 11%;

    }

    .contacto-parrafo {
        font-size: 1.5rem;
        right: 6.5%;
        bottom: 8.5%;

    }

    /* FOOTER */
    .logo-footer {
        width: 10rem;
    }

    .footer-parrafo {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .copi {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
}

/* SECCION DOCENCIA INDEX MOBLE */

.docencia {
    padding-top: 0;
    overflow: hidden;
    border-top: none;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.nati-cursos-desktop {
    display: none;

}

.btn-clases-cursos {
    background-color: rgb(178, 153, 178);
    padding: .5rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    box-shadow: 1px 1px 1px 1px rgba(240, 233, 233, 0.932);

}

.video-clases video {
    width: 100%;
    height: auto;
}

.alumnos {
    padding: 1rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    border: 1px solid rgb(54, 26, 54);
    /*  background-color: rosybrown; */
    width: 90vw;
    margin-top: 2rem;
}

.portada-d {
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;

}

.clases-canto {
    text-wrap: balance;

}

.d-img {
    /*   position: absolute;
    height: 100vh;
    object-fit: cover; */
    position: absolute;
    height: 100vh;
    object-fit: cover;
    /* bottom: 0; */
    margin-bottom: 0;
    object-position: bottom;
}

.portada-docencia {
    color: whitesmoke;
    font-size: 2.2rem;
    display: flex;
    /*  flex-direction: column;  */
    justify-content: start;
    align-self: start;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    z-index: 1000;
    bottom: 8%;
    right: 2%;
    text-wrap: nowrap;

}

.audio-parrafo,
.clases-parrafo {
    margin-bottom: 1rem;


}

.clases-parrafo {
    color:
        /*  wheat; */
        rgb(54, 26, 54);
}

.audio-parrafo,
.clases-parrafo1 {
    color:
        /*  rgb(54, 26, 54);  */
        whitesmoke;
}

.img-audio {
    gap: 2rem;
    display: grid;
    margin-bottom: 1rem;
}

.canto-tango {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

/*   color:
        /*  rgb(54, 26, 54); */
/*   whitesmoke; */


.canto-contenido {
    padding-left: .5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    /*   color: wheat; */
}

.video-clases,
.video-tango {
    display: flex;
    justify-content: center;
    width: 90vw;

}

/* .video-clases iframe {
    border-radius: 5px;
} */

.wrapp-canto {

    background-color:
        /*  #33404f; */
        rgb(178, 153, 178);
    margin-bottom: 0;
    margin-top: 0;
    padding: 1rem;
}

.wrapp-canto video {
    width: 100%;
    height: auto;
}

.wrapp-audio {
    /*  border: 1px solid rgb(54, 26, 54);
    border-radius: 5px;
    padding: 10px; */
 /*    margin-bottom: 3rem; */
    padding: 1rem;
    background-color:
        /*  rgb(178, 153, 178) */
        #33404f;

}

.wrapp-canto2 {
    padding: 10px;
    /*    border-radius: 5px; */
    /*   margin-bottom: 2rem; */
    /*    margin-top: 2rem; */

    background-color:
        /* #33404f */
        rgb(178, 153, 178);
    padding-bottom: 1rem;
}

.grilla-clases {
    margin-top: 0;
    margin-bottom: 0;
}

.audio-fotos1 {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 5px;
}

.audio-fotos {
    border-radius: 5px;
}

/* SWIPPER */
.swiper {
    width: 80vw;
    z-index: 0;
    padding-bottom: 2.5rem;
    margin-top: 2rem;

}

.swiper-slide {
    background-color: rgba(240, 233, 233, 0.932);
    padding: 1.5rem 2rem 2rem 2.4rem;
    border-radius: .5rem;
    border: 1px solid rgba(228, 205, 205, 0.932);
    transition: .2s;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (hover: hover) {
    .swiper-slide:hover {
        border-color: rgb(54, 26, 54);
    }
}

.swiper-button-next,
.swiper-button-prev {
    top: 45%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    /*   font-size: 1rem;
    color: rgb(54, 26, 54);  */
    display: none;
}

.swiper-pagination-bullet {
    background-color: rgb(54, 26, 54);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: rgba(240, 233, 233, 0.932);
}

.comment-header {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.comment-icon {
    font-size: .75rem;
    width: 1.4rem;
    height: 1.4rem;
    background-color: rgb(178, 153, 178);
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
}

.comment-name {
    font-size: .9rem;
    font-family: "Josefin Sans", sans-serif;
}

.comment-type {
    font-size: .8rem;
    color: black;
    margin-top: auto;
    font-family: "Josefin Sans", sans-serif;
}

.comment-body {
    font-size: .9rem;
    line-height: 1.3;
    font-family: "Noto Sans JP", sans-serif;
}

.comment-type span {
    display: block;
    font-size: .8rem;
    color: black;
}


/* FOOTER DOCENCIA MOBILE */

/* .footer2 {
    background-color: rgb(54, 26, 54);
    color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
} */

.redes-footer {
    font-size: 1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;

}

@media screen and (min-width: 1200px) {

    .portada-docencia {
        font-size: 5rem;
        font-weight: 300;
        color: whitesmoke;
        margin-bottom: 1rem;
        display: flex;
        justify-self: start;
        align-self: start;
        font-family: "Josefin Sans", sans-serif;
        bottom: 4%;
        letter-spacing: .3rem;
        flex-direction: row;
        padding: 0;
        right: 2%;
        text-wrap: nowrap;
    }

    .wrapp-canto {
        background-color:
            /*  #33404f */
            rgb(178, 153, 178);
        /*  margin-bottom: 5rem; */
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2.5rem;
    }

    .wrapp-canto2 {
        /*  background-color: rgb(178, 153, 178); */
        background-color:
            /*  rgb(231, 231, 144) ** /#7e3333 */
            rgb(178, 153, 178);
        /*  #33404f */
        ;
        margin-top: 0;
        /*   margin-bottom: 5rem; */
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;

    }

    .wrapp-audio {
       margin-bottom: 0;
        background-color:
            /* rgb(178, 153, 178) */
            #33404f;
        margin-top: 0;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .alumnos {
        margin-top: 2rem;
        width: 90vw;
    }

    .nati-cursos-desktop {
        display: initial;
        border-radius: 5px;
    }

    .portada-d {

        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .d-img {
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: top;
        /*    top: 0;
        left: 0;
        bottom: 0; */
    }

    .btn-clases-cursos {
        margin-top: 0;
        padding: 1rem;
    }

    .btn-clases-cursos {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: 2rem;
        width: 100%;
    }

   

    .video-clases {
        display: grid;
        align-self: center;
        width: 100%;
        /*    background-color: #33404f; */
    }

    .video-tango {
        background-color: rgb(178, 153, 178);
        display: grid;
        align-self: end;
        width: 100%;
    }

    .video-clases iframe {
        border-radius: 5px;
    }

    .tango-foto {
        display: grid;
        border-radius: 5px;
        align-self: end;
        justify-self: center;
        width: 35vw;
        height: 30vw;
        object-fit: cover;
        object-position: top;
    }

    /*   .img-audio {
        display: grid;
        border-radius: 5px;
        align-self: end;
        justify-self: center;
        width: 35vw;
        height: 25vw;

    } */
    .audio-fotos {
        display: grid;
        width: 35vw;
        height: 35vw;
        object-fit: cover;
        margin-top: 0;
        align-self: center;
        justify-self: center;
        background-color: #33404f;
    }

    .audio-fotos img {
        height: 70vh;
    }

    .audio-fotos1 img {
        height: 68vh;
        object-fit: cover;
    }

    .audio-fotos1 {
        display: grid;
        margin-top: .4rem;
    }

    .audio-fotos img,
    .audio-fotos1 img {
        border-radius: 5px;
    }

    /*    .img-audio1 {
        display: grid;
        border-radius: 5px;
        align-self: start;
        justify-self: center;
        width: 35vw;
        height: 25vw;
        gap: .5rem;
        margin-top: 1rem;

    } */

    .canto-contenido,
    .audio-contenido,
    .canto-tango {
        margin-top: 2rem;
        font-size: 2rem;
        padding-left: .5rem;
        margin-bottom: 1rem;
    }

    .audio-contenido {
        color: whitesmoke;
    }

    .clases-canto1,
    .clases-audio,
    .testimonios {
        color:
            /* rgb(54, 26, 54) */
            whitesmoke;
        font-size: 2.5rem;
        font-weight: 300;
        margin-top: 1rem;
        margin-bottom: .5rem;
        padding-top: .5rem;
        font-family: "Josefin sans", sans-serif;
        margin-left: .5rem;
    }

    .canto-tango {
        margin-top: 1rem;
        color: rgb(54, 26, 54);
        font-weight: 400;
    }

    .clases-audio {
        color: whitesmoke;
        font-weight: 400;
    }

    .clases-canto1 {
        color: rgb(54, 26, 54);
        font-weight: 400;
    }

    .testimonios {
        font-size: 3.5rem;
        margin-bottom: 3rem;
        color: rgb(54, 26, 54);
    }

    .clases-audio {
        text-wrap: nowrap;
    }

    /* testimonios swiper */
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 1rem;
        color: rgb(54, 26, 54);
        display: inherit;
    }

    .swiper {
        width: 100%;
    }

    /* FOOTER DOCENCIA */
    .redes-footer {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        margin-left: 1rem;
    }

    .copi {
        margin-top: 1.3rem;
        margin-left: 1rem;
    }

    .footer-parrafo {
        margin-top: .5rem;
    }
}