* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif, "Noto Sans JP", sans-serif;
}

a {
    color: #ececec;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.active {
    text-decoration: underline;


}

.container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
}

body {
    background-color: white;
    transition: background-color .3s, color .3s;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
    background-color:
        /*  #ececec; */
        transparent;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rosybrown;
    z-index: 999;
    backdrop-filter: blur(10px);
    /*  width: 100%; */
}



.img-container {
    max-width: 100%;
}

section {
    scroll-margin-top: 6rem;

}

html {
    scroll-behavior: smooth;
}


/* NAV MOBILE */
.abrir-menu,
.cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}


/* Estilos móviles (sin media query) */
.logo {
    width: 7rem;
    margin-bottom: 0;
    padding-top: .3rem;
    color: rosybrown;
    margin-left: 1rem;
}

.redes {
    font-size: 1.4rem;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1.1rem;
    /* margin-bottom: .3rem; */
    /* margin-right: 1rem; */
    margin-top: .5rem;

}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rosybrown;
    transition: color .3s;
    font-style: italic;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    margin-top: .3rem;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-family: "Noto Sans JP", sans-serif;
}



.nav-list li a:hover {
    color: rosybrown;
    transition: color .3s;
    font-style: italic;
}

.abrir-menu,
.cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    color: rgb(54, 26, 54);
}

.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    max-height: 0;
    align-items: end;
    gap: 1rem;
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 2rem;
    transition: opacity 1s ease-in-out, max-height 1s ease-in-out;

}

.nav.visible {
    opacity: 1;
    visibility: visible;
    max-height: 100vh;
}

.contact {
    margin-right: 0;
}

/* .abrir-menu{
    color: rgb(54, 26, 54);
} */
/* .cerrar-menu{
    display: flex;
    align-self: end;
    color:#ececec;
} */

/* seccion bio */
.bio,
.discografia,
.videos,
.prensa {
    margin-top: 1rem;
    width: 90vw;
    border-top: 2px solid rosybrown;
    padding-top: 1rem;
}

.videos {
    border: 0;
}

.bio-titulo,
.discografia-titulo,
.videos-titulo,
.prensa-titulo,
.contacto-titulo {
    color: rgb(54, 26, 54);
    font-size: 2.5rem;
    display: flex;
    justify-content: start;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
}

.bio-parrafo {
    display: flex;
    text-align: justify;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    padding-inline: .3rem;
    font-family: "Noto Sans JP", sans-serif;
    border-bottom: 1px solid rgb(54, 26, 54);


}


.bio-eng {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.english.open .bio-eng {
    max-height: 1500px;

}

.titulo-ingles {
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(54, 26, 54);
    margin-top: .5rem;
}

.bio-eng {
    display: flex;
    text-align: justify;
    justify-content: start;
    font-size: .9rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    padding-inline: .3rem;
    font-family: "Noto Sans JP", sans-serif;
}

.bio-foto {
    border-radius: 10px;
}

/* SECCION DISCOGRAFIA */
.discos-grilla {
    margin-top: 1rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

.discos-grilla img {
    border-radius: 10px;
}

.hoy-titulo h4,
.otra-titulo h4,
.escuadron-titulo h4,
.diarios {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: rgb(54, 26, 54);
    font-weight: 300;
    font-family: "Josefine sans", sans-serif;
}

.diarios {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.hoy-parrafo,
.otra-parrafo,
.escuadron-parrafo {
    display: flex;
    text-align: justify;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    font-family: "Noto Sans JP", sans-serif;
}

.participaciones-titulo {
    color: rgb(54, 26, 54);
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
    margin-bottom: .5rem;
    padding-top: .5rem;
    font-family: "Josefine sans", sans-serif;
    margin-left: .5rem;

}

/* slider */

.slider-container {
    position: relative;
    width: 100%;

    margin: auto;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: 0;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;

}

.prev {
    left: 12px;
}

.next {
    right: 12px;
}


.slider-container:hover .prev,
.slider-container:hover .next {
    opacity: 1;
}

/* SECCION VIDEOS */
.videos {
    display: grid;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.grilla-videos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*    background-color: rosybrown; */
    padding: 1rem;
}

.videos-wrapp {
    background-color: rgba(240, 233, 233, 0.932);
    padding-bottom: 1rem;
}

.videos-titulo {
    padding-top: 1rem;
    margin-left: 2vw;


}

.grilla-videos iframe {
    max-width: 100%;

}

.videos-sub {
    margin-top: .3rem;
    margin-bottom: .2rem;

}

.videos-btn,
.prensa-btn {
    padding: .5rem;
    background-color: transparent;
    border: 1px solid rgb(54, 26, 54);
    border-radius: .5rem;
    color: rgb(54, 26, 54);
    margin-left: .5rem;
    font-size: 20px;
    margin-top: .5rem;
    transition: color .3, background-color .3s;
    cursor: pointer
}

.prensa-btn {
    margin-left: .2rem;
}

.videos-btn:hover,
.prensa-btn:hover {
    color: #ececec;
    background-color: rgb(54, 26, 54);
    border: 1px solid rgb(54, 26, 54);

}

/* SECCION PRENSA */
.nota {
    margin-bottom: 1rem;
}

.grilla-prensa img {
    border: 1px solid rgb(54, 26, 54);

}

.prensa-sub {
    color: rgb(54, 26, 54);
    margin-top: 1.5rem;
    margin-bottom: .3rem;
}

/* SECTION CONTACTO */
.contacto {
    margin-top: 1rem;
    width: 100%;
    position: relative;
}

.contacto-titulo {
    position: absolute;
    top: 40vw;
    /*   top:2vw; */
    right: 4vw;
    z-index: 999;
    letter-spacing: .2rem;
}

.contacto-parrafo {
    position: absolute;
    bottom: 6vw;
    z-index: 999;
    right: 3vw;
}

.resalta {
    color: rgb(54, 26, 54);
    font-weight: 600;


}

.redes2 {
    position: absolute;
    z-index: 999;
    top: 50vw;
    right: 11.5vw;
    color: rgb(54, 26, 54);
    font-size: 1.2rem;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 1rem;
    /* margin-bottom: .3rem; */
    /* margin-right: 1rem; */
    margin-top: .5rem;
}

.nav-link {
    color: rgb(54, 26, 54);
}

@media screen and (min-width: 1200px) {

    section {
        scroll-margin-top: 7.2rem;

    }

    .nav-link {
        color: rgb(54, 26, 54)
    }

    .logo {
        width: 16vw;
        margin-left: 1rem;
        padding-top: .3rem;
    }

    .redes {
        font-size: 1rem;
        display: flex;
        justify-content: end;
        align-items: end;
        gap: 1.1rem;
        margin-bottom: .3rem;
        margin-right: 1rem;
    }


    .nav {
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        padding: 0;
        z-index: 999;

    }

    .nav-list {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        font-size: 1rem;
        font-family: "Noto Sans JP", sans-serif;
    }

    .nav-list li a {
        color: rgb(54, 26, 54);
    }

    .abrir-menu,
    .cerrar-menu {
        display: none;
    }

    .contact {
        margin-right: 7vw;
    }


    header {
        padding-bottom: .5rem;
        padding-top: .5rem;
    }

    .portada {
        margin-bottom: 3rem;

    }

    /* SECCION BIO */

    .bio,
    .discografia,
    .videos {
        width: 90vw;
        border-top: 2px solid rosybrown;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 1rem;
    }


    .bio-encabezado {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        justify-content: center;
        align-content: start;

    }

    .bio-titulo,
    .discografia-titulo,
    .videos-titulo,
    .prensa-titulo {
        font-size: 5rem;
        font-weight: 300;
        color: rgb(54, 26, 54);
        margin-bottom: 1rem;
        display: flex;
        justify-self: start;
        align-self: start;
        font-family: "Josefin Sans", sans-serif;
    }

    .bio-foto {
        border-radius: 10px;
    }

    .bio-parrafo {
        display: flex;
        text-align: justify;
        padding: .5rem;
        padding-top: 0;
        justify-content: center;
        padding-left: 1rem;
        padding-inline: .3rem;
        font-family: "Noto Sans JP", sans-serif;
        border-bottom: 1px solid rgb(54, 26, 54);
    }

    .titulo-ingles {
        color: rgb(54, 26, 54);
        margin-top: .5rem;
        font-size: 2rem;
        font-weight: 400;
    }

    .bio-eng {
        display: flex;
        text-align: justify;
        justify-content: center;
        padding-left: 1rem;
        font-size: .9rem;
        margin-top: 1rem;
        padding-inline: .3rem;
        font-family: "Noto Sans JP", sans-serif;

    }

    .bio-eng {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    /* .english.open .bio-eng {
        max-height: 500px; 
    } */

    .slider-container {
        width: 280px;
        padding-top: .5rem;
    }

    /* DISCOGRAFIA */
    .hoy,
    .otra,
    .escuadron {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        margin-bottom: 3rem;
        background-color: rgba(240, 233, 233, 0.932);
        padding: .7rem;
        border-radius: 10px;
    }

    .hoy {
        margin-bottom: 5rem;
        margin-top: 1rem;
    }

    .hoy-titulo h4,
    .otra-titulo h4,
    .escuadron-titulo h4 {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .participaciones-titulo {
        display: flex;
        font-size: 2rem;
        font-weight: 100;
        font-family: "Josefine sans", sans-serif;
        justify-self: start;
        align-self: start;
    }

    /* SECCION VIDEOS */
    .videos {
        display: grid;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .videos-wrapp {
        padding-bottom: .5rem;
    }

    .grilla-videos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 2rem;
        padding-bottom: .5rem;
        margin-bottom: .5rem;
    }

    .videos-btn {
        display: grid;
        justify-self: start;
        margin-left: 2.2vw;
    }

    .videos-wrapp {
        background-color: rgba(240, 233, 233, 0.932);
    }

    .videos-titulo {
        padding-top: 1rem;

    }

    .videos-sub {
        color: rgb(54, 26, 54);
    }

    /* SECCION PRENSA */

    .diarios {
        color: rgb(54, 26, 54);
        font-weight: 100;
        font-family: "Josefine sans", sans-serif;
        font-size: 3rem;
        justify-content: start;
        align-self: start;

    }

    .prensa {
        width: 90vw;
        border-top: 2px solid rosybrown;
        display: grid;
        padding-top: 1rem;
    }

    .grilla-prensa {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
    }

    .prensa-sub {
        font-size: 1.5rem;
    }

    /* SECCION CONTACTO */
    .img-wrapper {
        width: 100%;
        height: 600px;
        /* Ajusta la altura que prefieras */
        overflow: hidden;
        /* Oculta el exceso de la imagen */
    }

    .img-wrapper img {
        max-width: 100%;
        /* Ajustará la altura */
    }
.contacto-titulo{
    font-size: 5rem;
    font-weight: 300;
    color: rgb(54, 26, 54);
    margin-bottom: 1rem;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: .3rem;
   top :25vw;
    position: absolute;

}
.redes2{
    font-size: 1.5rem;
    gap: 1.6rem;
    top:33vw;
    right: 13vw;
}
   .contacto-parrafo{
    font-size: 1.5rem;
    right: 8.2vw;
    bottom: 4vw;
   } 
}