* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif, "Noto Sans JP", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.active {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
}

body {
    background-color: white;
    transition: background-color .3s, color .3s;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ececec;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rosybrown;
}


.logo {
    /*   max-width: 5rem;  */
    margin-bottom: .2rem;
    color: rosybrown;
    width: 16vw;
    margin-left: 1rem;
    padding-top: .3rem;

}



.redes {
    margin-left: 1rem;
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
    gap: 1.1rem;
    margin-bottom: .3rem;
    margin-right: 1rem;

}

.redes a:hover {
    color: rosybrown;
    transition: color .3s;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin-top: .3rem;
    margin-bottom: 0;
    font-size: 1rem;
    align-items: center;
    font-family: "Noto Sans JP", sans-serif;
}

.contact {
    margin-right: 7vw;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(54, 26, 54);
}

.nav-list li a:hover {
    color: rosybrown;
    transition: color .3s;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


.img-container {
    max-width: 100%;
}

section {
    scroll-margin-top: 6rem;
}

.active {
    text-decoration: underline;
}

@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .logo {
        width: 7rem;
        margin-bottom: 0;
    }

    .abrir-menu {
        color: rosybrown;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        z-index: 1000;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        padding: 2rem;
        padding-top: 1.5rem;
        padding-right: 1rem;
        transition: background-color 2s, color 2s;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;

    }

    .nav-list {
        flex-direction: column;
        align-items: end;
        font-size: 1.4rem;
        gap: 2rem;

    }

    .nav-list li a {
        color: #ecececec;
        font-family: "Josefin Sans", sans-serif;
    }

    .redes {
        margin-right: 0;
        font-size: 1.4rem;
        margin-top: 0;
    }
   .nav-list li a:hover, .redes:hover{
        color:rgb(54, 26, 54);
        transition: color .3s;
    }
    .contact {
        margin-right: 0;
    }

    /* seccion bio */
    .bio, .discografia {
        margin-top: 1rem;
        width: 90vw;
        border-top: 2px solid rosybrown;
        padding-top: 1rem;
    }

    .bio-titulo, .discografia-titulo {
        color: rgb(54, 26, 54);
        font-size: 2.5rem;
        display: flex;
        justify-content: start;
      /*   margin-left: 1rem; */
        font-weight: 400;
        font-family: "Josefin Sans", sans-serif;
    }



    .bio-parrafo {
        display: flex;
         text-align: justify; 
        padding: 1rem; 
        justify-content: center;
        align-items: center;
        padding-inline: .3rem;
        font-family: "Noto Sans JP", sans-serif;
    }

    .bio-eng {
        display: flex;
        text-align:justify;
        padding: .5rem;
        padding-top: .5rem;
        justify-content: start;
        font-size: .9rem;
        margin-top: 1rem;
        margin-bottom: .5rem;
        border-top: 1px solid rosybrown;
        padding-inline: .3rem;
        font-family: "Noto Sans JP", sans-serif;
    }

    .bio-foto {
        border-radius: 10px;
    }
}

@media screen and (min-width: 1200px) {
    header {
        padding-bottom: .5rem;
        padding-top: .5rem;
    }

    .portada {
        margin-bottom: 3rem;
    }

    /* SECCION BIO */
    .bio {
        margin: 1rem;
        width: 90vw;
        border-top: 2px solid rosybrown;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 1rem;
    }

    .bio-encabezado {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        justify-content: center;
    }

    .bio-titulo {
        font-size: 5rem;
        font-weight: 300;
        color: rgb(54, 26, 54);
        margin-bottom: 1rem;
        display: flex;
        justify-self: start;
        align-self: start;
        font-family: "Josefin Sans", sans-serif;
    }

    .bio-foto {
        border-radius: 10px;
    }

    .bio-parrafo {
        display: flex;
        text-align: justify;
        padding: .5rem;
        padding-top: 0;
        justify-content: center;
        padding-left: 1rem;
        padding-inline: .3rem;
        font-family: "Noto Sans JP", sans-serif;
    }

    .bio-eng {
        display: flex;
        text-align: justify;
        padding: .5rem;
        padding-top: .5rem;
        justify-content: center;
        padding-left: 1rem;
        font-size: .9rem;
        margin-top: 1rem;
        border-top: 1px solid rosybrown;
        padding-inline: .3rem;
        font-family: "Noto Sans JP", sans-serif;
    }
}